#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		.buttons
			= link_to "Sign Up", new_user_registration_path, class: "button"
	
#testimonial
	.wrapper
		%p.quote "I use NoteNote everyday"
		%p.name - Barack Obama
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

			.callout
				%h2 Notes
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

			.callout
				%h2 Notes
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
	.wrapper
		%p.quote "My go to place to remember what to do"
		%p.name - Philip Engles
		.buttons
			= link_to "Sign Up", new_user_registration_path, class: "button"

%footer
	%p &copy; Danger Zone Society